!!!5
html
	head
		title vecturia
		link(rel='shortcut icon', href='http://vecturia.com/design/favicon.ico')
		link(rel='stylesheet', href='css/layout.css')
		meta(name='viewport', content='width=device-width')

	body
		script(type='text/javascript', src='js/jquery-1.8.2.min.js')

		.dropdown
			- if (todos!=null&&todos instanceof Array)
				- for (var i=0;i<todos.length;i++)
					a.dropdown_option(style='background-color:##{todos[i].color}')
						| #{todos[i].content}
						form(action='/remove',method='post')
							input(type='hidden',name='index',value='#{i}')
							input.add(type='submit',value='X')

			div.dropdown_option.grey_light
				form(action='/add',method='post')
					input.add(type='submit',value='+')
					input(type='text', value='Buy Milk',name='content')
